@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins';
  overflow: hidden;
  // cursor: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 360px 1fr;
}

@media (max-width:840px) {
  .wrapper {
    display: block;
  }
}